<div id="list-container">
  <div id="posts-container">
    <h3 id="list-header">My Posts</h3>

    <button type="button" class="btn button-style" id="new-post-button" (click)="newPost()">
        <i class="fa fa-plus-circle" aria-hidden="true"></i> New Post
    </button>
  </div>

  <div id="post-container">
    <ul id="postList">
      <li *ngFor="let post of posts">
        <a routerLink="/edit/{{post.postid}}">
           <span class="badge"><i class="fa fa-clock-o" aria-hidden="true"></i> {{post.created | date:'M/d/yy, h:mm:ss a'}}</span> <span class="tit">{{post.title}}</span>
        </a>
      </li>
    </ul>
  </div>
</div>
