#list-container {
    font-family: 'OpenSans-Regular';
    width: 50%;
    height: 100%;
    float: left;
  }
  
  #posts-container {
      border: 1px solid black;

      text-align: center;
      width: 70%;
      margin: 0 auto;
      border-radius: 10px 10px 0 0;
  }
  
  #list-header {
    font-family: 'IndyPimp-Bold';
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  #new-post-button {
    width: 100px;
    height: 30px;
    margin: 10px;
    margin-bottom: 5px;
    font-size: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    background-color: #466670;
    color: #ffffff;
  }
  
  #new-post-button:hover {
    background-color: #0d2b35;
  }
  
  #post-container {
      border: 1px solid black;
      border-radius: 0 0 10px 10px;
    width: 70%;
    max-height: 500px;
    overflow: scroll;
    text-align: center;
    margin: 0 auto;
  }
  
  #postList {
    cursor: pointer;
    list-style-type: none;
    margin: 10px;
    padding: 5px 5px;
    border-radius: 5px;
  }
  
  #postList a {
    color: grey;
    text-decoration: none;
    background-color: #ffffff;
    display: block;
    text-align: left;
  
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  #postList a:hover {
    background-color: #87e06c;
  }
  
  
  #postList .badge {
    display: inline-block;
    font-size: 14px;
    vertical-align: middle;
    color: rgb(22, 19, 19);
    padding: 10px 10px;
    background-color: #58ee85;
    width: 35%;
    text-align: center;
    border-radius: 5px;
    overflow: visible;
    white-space: normal;
  }
  
  #postList .tit {
    padding: 15px 5px;
  }
  