<!-- Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<header class="blog-header py-3 bg-warning text-center">
	<a class="blog-header-logo text-white">
		<h1>Title</h1>
	</a>
</header>

<br>
<div class="container">
	<div class="row">
		<div class="col-5">
			<app-list></app-list>
		</div>
    <div class="col-7">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>