<label for="title">Title</label>
<br>
<input type="text" class="form-control" placeholder="Add a title" aria-label="Add a title" aria-describedby="basic-addon" [(ngModel)]="post.title" (keyup)="check()"/>
<br>
<label for="body">Body</label>
<br>
<textarea style="height: 15rem;" class="form-control" placeholder="Add a body" aria-label="Add a body" aria-describedby="basic-addon" [(ngModel)]="post.body" (keyup)="check()"></textarea>
<br>
<div *ngIf="post">
 Last Modified: {{post.modified | date: 'long'}}
</div>
<br>
<button class="btn btn-outline-danger" (click)="delete()">Delete</button>
<button class="btn btn-outline-success" (click)="save()" [disabled]="myControl.dirty">Save</button>
<button class="btn btn-outline-warning" (click)="preview()">Preview</button>