<div *ngIf="post">
    <div id="preview-container">
      <h3 id="preview-header">Preview Post</h3>
      <hr>
      <button type="submit" class="btn button-style" (click)="returnToEdit()">
          <i class="fa fa-pencil" aria-hidden="true"></i> Edit
      </button>
  
      <div id="markdown-wrapper">
        <div id="markdown-container">
          <b><div id="title" [innerHTML]=markdownTitle></div></b>
          <div id="body" [innerHTML]=markdownBody></div>
        </div>
      </div>
    </div>
  </div>
